.detailedPost{
    padding: 60px 0 0 0;
}
.detailedPost-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.detailedPost__title{
    padding: 0 0 20px 0;
    font-size: 40px;
    font-weight: 600;
}
.detailedPost__content{

}
.detailedPost__content > p{
    padding: 10px 0;
    font-size: 18px;
    line-height: 25px;
}