.header {
  font-weight: 500;
  font-family: 'Montserrat';
  font-size: 16px;
  padding: 60px 0 0 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name {
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 40px;
}
.header-name__green {
  color: var(--primary-color);
}
.header-search {
}
.header-search > input {
  padding: 20px 180px 20px 32px;
  border-radius: 10px;
  border: 0px;
  outline: none;
  box-shadow: 0px 15px 50px 0px rgba(46, 131, 158, 0.07);
}
.header-search > button {
  padding: 9px 8px;
  background: var(--primary-color);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}
.search-result {
  position: absolute;
  background: white;
  padding: 20px 180px 20px 32px;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}
.search-result__item {
  padding: 10px 0px;
  cursor: pointer;
}
.header-cart > button {
  padding: 20px 34px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  background: white;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}
.header-cart > button:hover {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}
.header-login > button {
  padding: 9px 8px;
}
.header-login > button {
  padding: 20px 34px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  background: white;
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}
.header-login > button:hover {
  background: var(--primary-color);
  color: white;
  cursor: pointer;
}

.nav {
  background: var(--primary-color);
  color: white;
  display: flex;
  margin-top: 60px;
}
.nav-item {
}
.nav-item > ul {
  display: flex;
  justify-content: space-between;
}
.nav-item > ul > li {
  padding: 28px 75px;
  cursor: pointer;
}

/* MEDIA QUERIES */
/*--TABLET--*/
@media (max-width: 768px) {
  .header-content {
    display: flex;
    flex-direction: column;
  }
  .header-content > div {
    padding: 20px 0px;
  }
  .header-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-item > ul {
    display: flex;
    flex-direction: column;
  }
}
/*--MOBILE--*/
@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
