.top-sellers-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;
}
.top-sellers__title {
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 40px;
  padding: 10px 0 10px 0;
}
.top-sellers__products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0 0 0;
}

.top-sellers__products-card-description > p {
  font-weight: 600;
}
