.card {
  display: flex;
  flex-direction: column;
  padding: 30px 25px;
  background: #ecfef4;
  border-radius: 15px;
}
.card__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 30px 50px;
  background: #ffff;
  border-radius: 15px;
}
.card__controller{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
