@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: 'Montserrat';
}
:root {
  --primary-color: #10b981;
  --secondary-color: #845ec2;
  --tertiary-color: #d7e8f0;
  --quaternary-color: #2e839e;
}
#root {
  width: 100%;
  height: 100%;
  padding: 60px 0;
}
/* GLOBAL STYLES */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1268px;
  margin: 0px auto;
}
.button-stylized > button {
  padding: 14px 41px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-stylized > button:hover {
  background: var(--quaternary-color);
  transition: ease-in-out 0.2s;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.formattedLabel {
  display: inline-block;
  width: 100px;
  font-weight: 500;
  font-size: 18px;
}
input {
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 10px;
}
/* MEDIA QUERIES */
/*--DESKTOP--*/
@media (max-width: 1268px) {
  .container {
    max-width: 1268px;
  }
}
/*--TABLET--*/
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
}
/*--MOBILE--*/
@media (max-width: 480px) {
  .container {
    max-width: 480px;
  }
}
/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
li,
a {
  text-decoration: none;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
