.products {
}
.products-content {
}

.products-products-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px 0;
}
.products-products-list button:hover {
  background: var(--quaternary-color);
  transition: ease-in-out 0.2s;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
